.mainnav {
    position: fixed;
    z-index: 100;
    width: 100vw;
    
}
h1 {
    color: cadetblue;
    margin-left: 20px;
    padding-top: 15px;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
.navbar1{
    padding-left: 100px;   
}
.nav-link{
 color: cadetblue;
   
    
}

.text-one{
    padding-left: 47px;
}
 .logotxt{
    color:cadetblue;
    margin-top: -10px;
    margin-left: 45px;
}

.form {
    padding-left: 50px;
}
.body-c{
    padding-top: 150px;
    text-align: center;
}
.body-d {
    margin-top: 100px;
}
.mainform {
    background-color: cadetblue;
    height: 500px;
    margin-top: 50px;
    padding: 50px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
   
}
.form-div {
    display: grid;
    justify-content: center;
    margin-bottom: 30px;
    gap: 10px;
    margin-left: -300px;
}
.form-div2 {
    display: grid;
    justify-content: center;
    gap: 10px;
    margin-left: 300px;
    margin-top: -170px;
}
.form-div3 {
    margin-top: 50px;
    margin-left: 40px;
}
.button {
    width: 500px;
    margin-left: 105px;
    border: none;
    margin-top: 20px;
    height: 40px;
    background-color: rgb(248, 190, 43);
    color: green;
    border-radius: 10px;
}
label {
    color: ghostwhite;
}
.box-container4 {
    display: flex;
    gap: 150px;
    justify-content: center;
    background-color: rgb(2, 2, 51);
    margin-top: 100px;
    height: 400px;
    padding-top: 100px;
}


.box7{
    display: block;
    text-align: center;
}
.box7 a {
    text-decoration: none;
    color: white;
    text-align: center;
}
.footer-logo{
    color: ghostwhite;
}
.f{
    color: ghostwhite;
}
.f2{
    color: ghostwhite; 
    text-align: center;
}
.f3{
    color: ghostwhite;
}
.b2 {
    height: 30px;
    width: 150px;
    border: none;
    background-color: skyblue;
    color: black;
}