.mainnav {
    position: fixed;
    z-index: 100;
    width: 100vw;
    
}
h1 {
    color: rgb(94, 42, 5);
    margin-left: 20px;
    padding-top: 15px;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
.navbar1{
    padding-left: 100px;   
}
.nav-link{
 color: rgb(94, 42, 5);
   
    
}
a {
    text-decoration: none;
}

.text-one{
    padding-left: 47px;
}
 .logotxt{
    color:rgb(94, 42, 5);
    margin-top: -10px;
    margin-left: 45px;
}

.form {
    padding-left: 50px;
}
.body-c{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    text-align: center;
}
.body-d {
    text-align: center;
    margin-top: 50px;
}
.mainform {
    background-color:rgb(94, 42, 5);
    height: 500px;
    margin-top: 50px;
    padding: 50px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 1px black solid;
   
}
.subone{
    padding-top: 150px;
 color:rgb(94, 42, 5) ;
 text-align: center;
}
.subtwo{
    color:rgb(94, 42, 5) ;
    text-decoration: none;
   }
.form-div {
    display: grid;
    justify-content: center;
    margin-bottom: 30px;
    gap: 10px;
    margin-left: -300px;
}
.form-div2 {
    display: grid;
    justify-content: center;
    gap: 10px;
    margin-left: 300px;
    margin-top: -170px;
}
.form-div3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
}
.svg-container{
    background-color: ghostwhite;
    width: 40px;
    padding: 2px;
    margin-left: 1310px;
    margin-top: -500px;
    position: fixed;
    z-index: 100;
    
}
.svg:hover {
    background-color: rgb(95, 95, 189);
}
.svg{
    padding: 7px;
}
.button {
    display: flex;
    justify-content: center;
    width: 500px;
    margin-left: 175px;
    border: none;
    margin-top: -40px;
    height: 40px;
    background-color:wheat ;
    color: black;
    border-radius: 10px;
}
.button:hover{
    background-color: ghostwhite;
    transition: 1000ms;
    border: black solid 2px;
}
label {
    color: ghostwhite;
}
.box-container4 {
    display: flex;
    gap: 150px;
    justify-content: center;
    background-color: rgb(2, 2, 51);
    margin-top: 100px;
    height: 400px;
    padding-top: 100px;
}


.box7{
    display: block;
    text-align: center;
}
.box7 a {
    text-decoration: none;
    color: white;
    text-align: center;
}
.footer-logo{
    color: ghostwhite;
}
.f{
    color: ghostwhite;
}
.f2{
    color: ghostwhite; 
    text-align: center;
}
.f3{
    color: ghostwhite;
}
.b2 {
    height: 30px;
    width: 150px;
    border: none;
    background-color: skyblue;
    color: black;
}
.form1 {
    visibility: hidden;
}
.svgimg2 {
    display: flex;
    gap: 30px;
    margin-left: 30px;
    margin-top: 5px;
    
}
.svg-f:hover{
    background-color: peachpuff;
}

@media only screen and (max-width:991px){
    .mainform{
     max-width: 90%;
    }
  
     .box-container4 {
         display: flex;
         gap: 50px;
         justify-content: center;
         background-color: rgb(2, 2, 51);
         margin-top: 300px;
         height: 400px;
         padding-top: 100px;
     }
     .button{
        display: flex;
        justify-content: center;
        margin-left: 155px;
        width: 485px;
     }
     .box7 {
         margin-top: 20px;
     }
    .f2{
    margin-left: -10px;
     margin-top: -10px;
    }
   .f3{
     text-align: center;
     margin-top: 20px;
     color: ghostwhite;
   }
     .box8 {
         text-align: center;
     }
     .footer-logo{
        margin-left: 0px;
     }
     
 }
@media only screen and (max-width:768px){
    .mainform{
     max-width: 90%;
    }
 
     .box-container4 {
         display: block;
         gap: 150px;
         justify-content: center;
         background-color: rgb(2, 2, 51);
         margin-top: 100px;
         height: 600px;
         padding-top: 100px;
     }
     .button{
        
        margin-left: 50px;
     }
     .box7 {
         margin-top: 20px;
     }
    .f2{
    margin-left: -10px;
     margin-top: -10px;
    }
   .f3{
     text-align: center;
     margin-top: 20px;
     color: ghostwhite;
   }
     .box8 {
         text-align: center;
     }
     .footer-logo{
        margin-left: 310px;
     }
     
 }

@media only screen and (max-width:479px){
    .mainform{
     max-width: 90%;
    }
   
    .form1 {
     visibility: visible;
     display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
     
    }
    .svgimg2 {
      margin-left: -20px;
      margin-right: 20px;
        gap: 25px;
    }
     .form-div {
         margin-top: -30px;
         margin-left: 10px;
     }
     .form-div2 {
        margin-top: 10px;
         margin-left: 10px;
         
     }
   
    .lg {
     display: none;
    }
     .button{
         width: 200px;
         margin-left: 48px;
         height: 30px;
         margin-top: 20px;
     }
     .box-container4 {
         display: block;
         gap: 150px;
         justify-content: center;
         background-color: rgb(2, 2, 51);
         margin-top: 100px;
         height: 600px;
         padding-top: 100px;
     }
     .box7 {
         margin-top: 20px;
     }
    .f2{
    margin-left: -10px;
     margin-top: -10px;
    }
   .f3{
     text-align: center;
     margin-top: 20px;
     color: ghostwhite;
   }
     .box8 {
         text-align: center;
     }
     .footer-logo{
        margin-left: 150px;
     }
     
 }
@media only screen and (max-width:375px){
  
    .form1 {
     visibility: visible;
     margin-top: 20px;
     margin-left: 30px;
    }
    
   
    .lg {
     display: none;
    }
     .button{
         width: 200px;
         margin-left: 25px;
         height: 30px;
         margin-top: 20px;
     }
    
   .f3{
     text-align: center;
     margin-top: 20px;
     color: ghostwhite;
   }
    
     .footer-logo{
        margin-left: 125px;
     }
     
 }

@media only screen and (max-width:320px){
   .svgimg2{
    margin-left: -10px;
    gap: 5px;
   }
   .form1 {
    visibility: visible;
    margin-top: 20px;
    margin-left: 7px;
   }
    .form-div {
        margin-top: -30px;
        margin-left: 10px;
    }
    .form-div2 {
       margin-top: 10px;
        margin-left: 10px;
        
    }

    .button{
        width: 200px;
        margin-left: 5px;
        height: 30px;
        margin-top: 15px;
    }
   
  
  .f3{
    text-align: center;
    margin-top: 20px;
    color: ghostwhite;
  }
   
    .footer-logo{
       margin-left: 105px;
    }
    
}