
.card {
    height: 30em;
    margin-left: auto;
    margin-right: auto;
    margin-top: -300px;
    width: 70vw;
    background-color:cadetblue;
    border-radius: 10px;
    opacity: 0;
    transform: translateX(100);
    transition: 1200ms;

}
.card.show{
    opacity: 1;
    transform: translateX(0);
}
.mainnav {
    position: fixed;
    z-index: 100;
    width: 100vw;
    
}
h1 {
    color: cadetblue;
    margin-left: 20px;
    padding-top: 15px;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
.navbar1{
    padding-left: 100px;

    
}
label {
    color: ghostwhite;
}
.nav-link {
    color:cadetblue;
}

.text-one{
    padding-left: 47px;
}
 .logotxt{
    color:cadetblue;
    margin-top: -10px;
    margin-left: 45px;
}

.form {
    padding-left: 50px;
}
.image-box{
    width: 34em;
    height: 30em;
   padding: 50px;
   margin-top: -45px;
}
.card-body{
    padding-left: 200px;
    padding-top: 100px;
}
.svg-container{
    background-color: ghostwhite;
    width: 40px;
    padding: 2px;
    margin-left: 1310px;
    margin-top: -500px;
    position: fixed;
    z-index: 100;
    
}
.svg:hover {
    background-color: rgb(95, 95, 189);
}
.svg {
    padding: 7px;
}

.boxcontainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 30px;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transform: translateZ(100);
    transition: 1200ms;
    
}
.boxcontainer.show{
    opacity: 1;
    transform: translateZ(0);
}

.txt1 {
    margin-left: 95px;
    margin-top: 100px;
}
.txt2{
    font-size: 1.3em;
    margin-top: 20px;
}
.line {
    margin-top: 30px;
    height: 1px;
    width: 20em;
    background-color: black;
}
.boximg {
    background-image: url(tr13.jpg);
    height: 300px;
    width: 350px;
    background-position: center;
    background-size: cover;
}
.boximg1 {
    background-image: url(trf5.webp);
    height: 300px;
    width: 350px;
    background-position: center;
    background-size: cover;
    

}
.boximg2 {
    background-image: url(tr2.jpg);
    height: 300px;
    width: 350px;
    background-position: center;
    background-size: cover;
    opacity: 0;
    transform: translateZ(100);
    transition: 1500ms;

}
.boximg2.show{
    opacity: 1;
    transform: translateZ(0);
}
.boximg3 {
    background-image: url(trf4.jpg);
    height: 300px;
    width: 350px;
    background-position: center;
    background-size: cover;
    opacity: 0;
    transform: translateZ(100);
    transition: 1500ms;

}
.boximg3.show{
    opacity: 1;
    transform: translateZ(0);
}

.boximg4 {
    background-image: url(tr14.jpg);
    height: 300px;
    width: 350px;
    background-position: center;
    background-size: cover;
    opacity: 0;
    transform: translateZ(100);
    transition: 1500ms;

}
.boximg4.show{
    opacity: 1;
    transform: translateZ(0);
}

.box-container2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(2, 2, 51);
    height: 300px;
    gap: 50px;
    color: ghostwhite;
    margin-top: 100px;
}
.box5{
   display: flex;
   flex-direction: column;
   padding-top: 100px;
}
.text-two {
    text-align: center;
}
.boxcontainer3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    opacity: 0;
    transform: translateZ(100);
    transition: 1500ms;

}
.boxcontainer3.show{
    opacity: 1;
    transform: translateZ(0);
}
.one{
    background-image: url(tr3.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 300px;
}
.two{
    background-image: url(tr4.webp);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 300px; 
}
.three{
    background-image: url(tr8.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 300px;
}
.four {
    background-image: url(tr20.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-bottom: 10px;

}
.five{
    background-image: url(tr15.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 300px;
}
.six{
    background-image: url(tr17.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 300px;
}
.seven {
    background-image: url(tr18.avif);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 300px;
}
.eight {
    background-image: url(tr10.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 300px;
}
.b1 {
    margin-top: 50px;
    text-align: center;
    width: 350px;
    color: ghostwhite;
    height: 50px;
    margin-left: 500px;
    border-radius: 10px;
    border: none;
    background-color:rgb(2, 2, 51);
}
.box-container4 {
    display: flex;
    gap: 150px;
    justify-content: center;
    background-color: rgb(2, 2, 51);
    margin-top: 100px;
    height: 400px;
    padding-top: 100px;
}


.box7{
    display: block;
    text-align: center;
}
.box7 a {
    text-decoration: none;
    color: white;
    text-align: center;
}
.footer-logo{
    color: ghostwhite;
}
.f{
    color: ghostwhite;
}
.f2{
    color: ghostwhite; 
    text-align: center;
}
.f3{
    color: ghostwhite;
}
.b2 {
    height: 30px;
    width: 150px;
    border: none;
    background-color: skyblue;
    color: black;
}
@media only screen and (max-width:991px){
   .card {
    margin-top: -100px;
   }
   .image-box {
    height: 27em;
    width: 28em;
   }
   .card-body {
    font-size: 1.1em;
    margin-top: -10px;
   }
   .svg-container{
    margin-left: 950px;
    margin-top: -50px;
    position: fixed;
    z-index: 100;
    
}
   .boxcontainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    margin-top: 30px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    
}
.boxcontainer3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 85vw;
    gap: 10px;
   

}
.one{
    height: 300px;
    width: 400px;
}
.two{
    height: 300px;
    width:400px; 
    margin-bottom: 15px;
}
.three{
    height: 300px;
    width:400px; 
}
.four {
    height: 300px;
    width:400px; 
    margin-bottom: 15px;
}
.five{
    height: 300px;
    width:400px; 
}
.six{
    height: 300px;
    width:400px; 
    margin-bottom: 15px;
}
.seven {
    height: 300px;
    width:400px; 
}
.eight {
    height: 300px;
    width:400px; 
    margin-bottom: 15px;
}
.b1 {
    margin-left: 300px;
}
.footer-logo {
    margin-left: 50px;
}
.f2 {
    margin-left: 25px;
}

}
@media only screen and (max-width:768px){
    .card {
        margin-top: -130px;
        height: 40em;
        width: 40em;
    }
    .carosel {
        padding-top: 100px;
        margin-left: -100px;
        
    }
   
    .image-box{
        width: 40em;
        height: 25em;
       padding: 50px;
       margin-top: -45px;
    }

    .card-body{
        padding-left: 20px;
        margin-top: 300px;
        font-size: 1.2em;
        margin-left: -190px;
    }
    .text-one{
        text-align: center;
    }
    .svg-container{
        margin-left: 830px;
        margin-top: -50px;
        position: fixed;
        z-index: 100;
        
    }
    .boxcontainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        margin-top: 30px;
        width: 98vw;
        margin-left: auto;
        margin-right: auto;
        
    }
    .boxcontainer3{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 85vw;
        gap: 10px;
       

    }
    .one{
        height: 200px;
        width: 320px;
    }
    .two{
        height: 200px;
        width:320px; 
        margin-bottom: 3px;
    }
    .three{
        height: 200px;
        width:320px; 
    }
    .four {
        height: 200px;
        width:320px; 
        margin-bottom: 3px;
    }
    .five{
        height: 200px;
        width:320px; 
    }
    .six{
        height: 200px;
        width:320px; 
        margin-bottom: 3px;
    }
    .seven {
        height: 200px;
        width:320px; 
    }
    .eight {
        height: 200px;
        width:320px; 
        margin-bottom: 3px;
    }
    .b1 {
        margin-left: 200px;
    }
    .box-container4{
        gap: 80px;
        background-color:rgb(2, 2, 51);
    }
    .footer-logo {
        margin-left: 50px;
    }
    .f2 {
        margin-left: 25px;
    }

  
}

@media only screen  and (max-width: 479px){
    .card {
        height: 30em;
        margin-left: auto;
        margin-right: auto;
        margin-top: -50px;
        width: 85vw;
        background-color:cadetblue;
    }
    h1{
        margin-left: -140px;
    } 
    .logotxt {
        margin-left: -120px;
    }
    .image-box{
      max-width: 100%;
        height: 20em;
      
       margin-top: -45px;
    }
    .card-body{
        margin-left: 7px;
        margin-top: -140px;
        font-size: 0.8em;
    }
    .text-one{
        text-align: center;
        padding-top: 5px;
    }
    .txt1 {
        text-align: center;
    }
    .carosel {
        padding-top: 100px;
    }
    .svg-container{
        background-color: ghostwhite;
        width: 40px;
        padding: 2px;
        margin-left: 480px;
        margin-top: -100px;
        position: fixed;
        z-index: 100;
        
    }
    .svg:hover {
        background-color: rgb(95, 95, 189);
    }
    .svg {
        padding: 7px;
    }
    .boxcontainer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        margin-top: 30px;
        width: 85vw;
        margin-left: auto;
        margin-right: auto;
        
    }
    .box-container2{
        display: block;
        justify-content: center;
        background-color:rgb(2, 2, 51);
        height: 600px;
        gap: 10px;
        color: ghostwhite;
        margin-top: 100px;
    }
    .box5{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
     }
     .text-two {
         text-align: center;
     }
     .text-three {
        text-align: center;
    }
     .boxcontainer3{
         display: grid;
         gap: 5px;
        grid-template-columns: repeat(2, 1fr); 
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }
    .one{
        height: 180px;
        width: 180px;
    }
    .two{
        height: 180px;
        width: 180px; 
        margin-bottom: 15px;
    }
    .three{
        height: 180px;
        width: 180px;
    }
    .four {
        height: 180px;
        width: 180px;
        margin-bottom: 15px;
    }
    .five{
        height: 180px;
        width: 180px;
    }
    .six{
        height: 180px;
        width: 180px;
        margin-bottom: 15px;
    }
    .seven {
        height: 180px;
        width: 180px;
    }
    .eight {
        height: 180px;
        width: 180px;
        margin-bottom: 3px;
    }
    .b1 {
        margin-top: 50px;
        text-align: center;
        width: 250px;
        color: ghostwhite;
        height: 50px;
        margin-left: 100px;
        border: none;
        background-color: rgb(2, 2, 51);
    }
    .box-container4 {
        display: block;
        gap: 150px;
        justify-content: center;
        background-color: rgb(2, 2, 51);
        margin-top: 100px;
        height: 600px;
        padding-top: 100px;
    }
    .box7 {
        margin-top: 20px;
    }
   .f2{
   margin-left: -15px;
    margin-top: -10px;
   }
  .f3{
    text-align: center;
    margin-top: 20px;
    color: ghostwhite;
  }
    .box8 {
        text-align: center;
    }
    .footer-logo{
       margin-left: 150px;
    }
}
@media only screen and (max-width:320px){
    .card {
        height: 30em;
        margin-left: auto;
        margin-right: auto;
        margin-top: -50px;
        width: 85vw;
        background-color:cadetblue;
    }
    h1 {
        margin-left: 1px;
    }
    .logotxt {
        margin-left: 10px;
    }
    .image-box{
        max-width: 100%;
        height: 20em;
       margin-left: auto;
       margin-right: auto;
    }
    .card-body{
        padding-left: 20px;
        margin-top: -145px;
    }
    .svg-container{
        margin-left: 435px;
        margin-top: -100px;
        position: fixed;
        z-index: 100;
        
    }
    .boxcontainer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        margin-top: 30px;
        width: 93vw;
        margin-left: auto;
        margin-right: auto;
        
    }
    .boximg{
        width: 300px;
    }
    .boximg1{
        width: 300px;
    }
    .boximg2{
        width: 300px;
    }
    .boximg3{
        width: 300px;
    }
    .boxcontainer3{
        display: grid;
        gap: 5px;
       grid-template-columns: repeat(2, 1fr); 
       width: 98vw;
       margin-left: auto;
       margin-right: auto;
       margin-top: 100px;
   }
 
   .one {
    width: 150px;
   }
  
   .two{
    margin-bottom: 1px;
    width: 150px;
}
.three {
    width: 150px;
   }
.four{
    margin-bottom: 1px;
    width: 150px;
}
.five {
    width: 150px;
   }
.six{
    margin-bottom: 1px;
    width: 150px;
}
.seven {
    width: 150px;
   }
   .eight {
    width: 150px;
   }
.b1 {
margin-left: 30px;
}
.footer-logo {
 margin-left: 110px;
}
.f2 {
    margin-top: 1px;
    margin-left: 2px;
}
}