*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
   .lg {
    display: none;
   }
   .mainbody {
    overflow: hidden;
   }


    @media only screen and (max-width: 991px){

        .mainbody {
            overflow: hidden;
            align-items: center;
           }
        .navbar {
            display:flex;
            margin-left: 55%;
            gap: 20px;
            height: 10em;
            margin-top: -20px;
    

        }
        .navbar a {
            color: ghostwhite;
            margin-top: -100px;
            text-decoration: none;
            font-size: 1.3em;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .navbar a:hover {
            background-color: aqua;
            color: black;
        }
        .lg {
            display: none;
        }
        .logo {
        display: flex;
        justify-content: flex-start;
         background-color: black;
         height: 15em;
         font-size: 0.8em;
         padding-left: 15px;
         padding-top: 60px;
         
        
        }
        .logo a {
        text-decoration: none;
        color: ghostwhite;
        margin-top: 5px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .logotxt {
        color: white;
        padding-top: 28px;
        font-size: 1.4em;
        margin-left: -88px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        
       
        .video {
            position: relative;
            margin-top: -150px;
            width: 100vw;
        }
        .svg {
            display: flex;
            gap: 15px;
            padding: 20px;
        }
        .number {
            font-size: 1.3em;
            margin-top: -2px;
        }
        .box-container {
            display: block;
        }
        .box1{
            background-color:mediumaquamarine;
            height: 70em;
            width: 60em;
            position: sticky;
            margin-top: -700px;
            margin-left: 1.5%;
            
        }
        .box1img {
            background-image: url(tr11.jpg);
            background-position: center;
            background-size: cover;
            height: 40em;
            width: 58em;
            margin-left: 16px;
            margin-top: 15px;
        }
        .txt-container {
            margin-left: 12px;
            margin-top: 20px;
        }
        .line {
            height: 1px;
            margin-top: 50px;
            background-color: black;
            width: 59em;
            margin-left: -5px;
            
        }
        .line2 {
            height: 1px;
            margin-top: 30px;
            background-color: black;
            width: 60em;
            margin-left: 1px;
            
        }
        .box2 {
            display: block;
            margin-top: 100px;
        
        }
        .box-container2{
            background-color: rgb(245, 226, 226);
            margin-left: 1.5%;
            height: 40em;
            width: 60em;
            margin-top: 30px;
            
        }
        .box3 {
            background-image: url(trf4.jpg);
            background-position: center;
            background-size: cover;
            height: 30em;
            width: 60em;
        
            
        }
        .box4 {
            background-image: url(tr18.avif);
            background-position: center;
            background-size: cover;
            height: 30em;
            width: 60em;
            margin-top: 100px;
        
            
        }
        
        .box5 {
            background-image: url(tr2.jpg);
            background-position: center;
            background-size: cover;
            height: 30em;
            width: 60em;
            margin-top: 100px;
        
            
        }
        .box-container3{
            background-color: rgb(245, 226, 226);
            height: 40em;
            width: 60em;
            margin-top: 250px;
            margin-left: 0%;
            
        }
        .box6{
            background-image: url(trf2.avif);
            background-position: center;
            background-size: cover;
            height: 30em;
            width: 60em;
            margin-top: 100px;
            
        
            
        }
        .box7{
            background-image: url(tr16.webp);
            background-position: center;
            background-size: cover;
            height: 30em;
            width: 60em;
            margin-top: 100px;
            
        
            
        }
        .box-container4 {
            display: block;
            background-color: rgb(4, 4, 59);
            height: 60em;
            margin-top: 1800px;
            padding-top: 100px;
        }
        .one {
            text-align: center;
            color: ghostwhite;
            font-size: 5em;
            margin-top: 8px;
        }
        .two {
            text-align: center;
            color: ghostwhite;
            font-size: 3em;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            margin-top: 15px;
        }
        .box-container5 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-left: 4%;
            margin-top: 50px;
        }
        .five{
            background-image: url(tr8.jpg);
            background-position: center;
            background-size: cover;
            height: 25em;
            width: 27em;
        }
        .six{
            background-image: url(tr3.jpg);
            background-position: center;
            background-size: cover;
            height: 25em;
            width: 27em;
        }
        .seven{
            background-image: url(tr1.jpg);
            background-position: center;
            background-size: cover;
            height: 25em;
            width: 27em;
            margin-top: 40px;
        }
        .eight{
            background-image: url(tr7.webp);
            background-position: center;
            background-size: cover;
            height: 25em;
            width: 27em;
            margin-top: 40px;
        }
        .nine{
            background-image: url(tr10.jpg);
            background-position: center;
            background-size: cover;
            height: 25em;
            width: 27em;
            margin-top: 40px;
        }
        .ten{
            background-image: url(tr12.jpg);
            background-position: center;
            background-size: cover;
            height: 25em;
            width: 27em;
            margin-top: 40px;
        }
        .eleven{
            background-image: url(tr13.jpg);
            background-position: center;
            background-size: cover;
            height: 25em;
            width: 27em;
            margin-top: 40px;
        }
        .twelve{
            background-image: url(tr14.jpg);
            background-position: center;
            background-size: cover;
            height: 25em;
            width: 27em;
            margin-top: 40px;
        }
        .text1 {
            text-align: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            padding-top: 5px;
            font-size: 4em;
        }
        .txt2 {
            margin-top: 30px;
            font-size: 2em;
            padding-left: 10px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .txt22 {
            margin-left: 15px;
            margin-top: 20px;
            font-size: 2em;
        }
        .txt3 {
            font-size: 4em;
            margin-top: 10px;

        }
        .txt222 {
            font-size: 1.7em;
            padding-left: 10px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            margin-top: 10px;
        }
        .txt4 {
            font-size: 1.5em;
            margin-top: 10px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .txt5{
            font-size: 0.7em;
           }
        .b1 {
            margin-top: 30px;
            height: 4em;
            width: 30em;
            margin-left: 28%;
            background-color: rgb(4, 4, 59);
            color: ghostwhite;
            border: none;
            font-size: 15px;
        }
        .b1:hover {
            color: ghostwhite;
            background-color: black ;
            border: none;
            border-radius: 10px;
        }
        .footer {
        display: block;
        background-color:rgb(4, 4, 59) ;
        height: 40em;
        margin-top: 50px;
        }
        .foot1 {
        display: flex;
        justify-content: center;
        padding-top: 30px;
        color: ghostwhite;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.5em;
        }
        .logotxt2 {
        text-align: center;
        margin-top: -2px;
        color: ghostwhite;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .foot2 {
        display: block;
        margin-top: 50px;
        text-align: center;
        
        }
        .foot2 a {
        font-size: 2em;
        text-decoration: none;
        color: ghostwhite;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .foot2 a:hover {
        color: red;
        }
        .foot3 {
        color: ghostwhite;
        text-align: center;
        margin-top: 30px;
        font-size: 1.5em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .foot4 {
            color: ghostwhite;
            margin-top: -50px;
            font-size: 1.5em;
            text-align: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        label {
        color: ghostwhite;
        font-size: 1.5em;
        
        }
       
        .form {
        margin-top: 30px;
        text-align: center;
        
        }
        .radio {
        color: ghostwhite;
        margin-top: 20px;
        font-size: 1.5em;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    }
    @media only screen and (max-width: 767px){
        .navbar {
            display: none;
        }
        
        .logo {
        display: flex;
        justify-content: flex-start;
         background-color: black;
         height: 15em;
         font-size: 0.8em;
         padding-left: 15px;
         padding-top: 65px;
         
        
        }
        .mainbody {
            overflow: hidden;
            align-items: center;
           }
        .logo a {
        text-decoration: none;
        color: ghostwhite;
        margin-top: 5px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .logotxt {
        color: white;
        padding-top: 28px;
        font-size: 1.4em;
        margin-left: -88px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        
        .add {
            width: 100px;
            height: 70px;
            color: white;
            visibility: visible;
        }
        .box {
            width: 100px;
            height: 50px;
            color:#612717 ;
            float: left;
            align-items: center;
            margin-top: -125px;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            color: white;
            background-color: ghostwhite;
            z-index: 1;
            width: 48em;
            height: 18em;
            margin-left: -660px;
            border-radius: 10px;
        
          
        
        }
        .dropdown {
            position: relative;
            display: inline-block;
            padding-left: 660px;
        
        
            
            
        }
        .dropdown:hover  .dropdown-content {
            display: block;
            color: aliceblue;
        }
        ul a:hover {
            color:mediumspringgreen;
        }
        ul a {
            display: block;
            color: black;
            padding-top: 35px;
            padding-left: 40px;
            text-decoration: none;
            font-family: georgia;
            font-size: 1.5em;
        }
        .video {
            position: relative;
            margin-top: -100px;
        }
        .svg {
            display: flex;
            gap: 15px;
            padding: 20px;
        }
        .number {
            font-size: 1.3em;
            margin-top: -2px;
        }
        .box-container {
            display: block;
        }
        .box1{
            background-color:mediumaquamarine;
            height: 45em;
            width: 46em;
            position: sticky;
            margin-top: -400px;
            margin-left: 2%;
            
        }
        .box1img {
            background-image: url(tr11.jpg);
            background-position: center;
            background-size: cover;
            height: 20em;
            width: 44em;
            margin-left: 16px;
            margin-top: 15px;
        }
        .txt-container {
            margin-left: 12px;
            margin-top: 20px;
        }
        .line {
            height: 1px;
            margin-top: 20px;
            background-color: black;
            width: 45em;
            margin-left: -5px;
            
        }
        .line2 {
            height: 1px;
            margin-top: 30px;
            background-color: black;
            width: 46em;
            margin-left: 1px;
            
        }
        .box2 {
            display: block;
            margin-top: 100px;
        
        }
        .box-container2{
            background-color: rgb(245, 226, 226);
            margin-left: 2%;
            height: 35em;
            width: 46em;
            margin-top: 30px;
            
        }
        .box3 {
            background-image: url(trf4.jpg);
            background-position: center;
            background-size: cover;
            height: 25em;
            width: 46em;
        
            
        }
        .box4 {
            background-image: url(tr18.avif);
            background-position: center;
            background-size: cover;
            height: 25em;
            width: 46em;
            margin-top: 100px;
        
            
        }
        
        .box5 {
            background-image: url(tr2.jpg);
            background-position: center;
            background-size: cover;
            height: 25em;
            width: 46em;
            margin-top: 100px;
        
            
        }
        .box-container3{
            background-color: rgb(245, 226, 226);
            height: 35em;
            width: 46em;
            margin-left: 0%;
            
        }
        .box6{
            background-image: url(trf2.avif);
            background-position: center;
            background-size: cover;
            height: 25em;
            width: 46em;
            margin-top: 100px;
            
        
            
        }
        .box7{
            background-image: url(tr16.webp);
            background-position: center;
            background-size: cover;
            height: 25em;
            width: 46em;
            margin-top: 100px;
            
        
            
        }
        .box-container4 {
            display: block;
            background-color: rgb(4, 4, 59);
            height: 60em;
            margin-top: 1620px;
            padding-top: 100px;
        }
        .one {
            text-align: center;
            color: ghostwhite;
            font-size: 4em;
            margin-top: 27px;
        }
        .two {
            text-align: center;
            color: ghostwhite;
            font-size: 3em;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            margin-top: 15px;
        }
        .box-container5 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-left: 4%;
            margin-top: 50px;
        }
        .five{
            background-image: url(tr8.jpg);
            background-position: center;
            background-size: cover;
            height: 22em;
            width: 21em;
        }
        .six{
            background-image: url(tr3.jpg);
            background-position: center;
            background-size: cover;
            height: 22em;
            width: 21em;
        }
        .seven{
            background-image: url(tr1.jpg);
            background-position: center;
            background-size: cover;
            height: 22em;
            width: 21em;
            margin-top: 25px;
        }
        .eight{
            background-image: url(tr7.webp);
            background-position: center;
            background-size: cover;
            height: 22em;
            width: 21em;
            margin-top: 25px;
        }
        .nine{
            background-image: url(tr10.jpg);
            background-position: center;
            background-size: cover;
            height: 22em;
            width: 21em;
            margin-top: 25px;
        }
        .ten{
            background-image: url(tr12.jpg);
            background-position: center;
            background-size: cover;
            height: 22em;
            width: 21em;
            margin-top: 25px;
        }
        .eleven{
            background-image: url(tr13.jpg);
            background-position: center;
            background-size: cover;
            height: 22em;
            width: 21em;
            margin-top: 25px;
        }
        .twelve{
            background-image: url(tr14.jpg);
            background-position: center;
            background-size: cover;
            height: 22em;
            width: 21em;
            margin-top: 25px;
        }
        .text1 {
            text-align: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            padding-top: 5px;
            font-size: 3em;
        }
        .txt2 {
            margin-top: 40px;
            font-size: 1.5em;
            padding-left: 10px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .txt222 {
            margin-top: 10px;
            font-size: 1.5em;
            padding-left: 10px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .txt4 {
            margin-top: 10px;
            font-size: 1.2em;
        }
        .txt22 {
            margin-left: 15px;
            margin-top: 20px;
        }
        .txt3 {
            font-size: 3em;
            margin-top: 10px;
        }
        .txt5{
            font-size: 0.7em;
           }
      
        .b1 {
            margin-top: 30px;
            height: 4em;
            width: 30em;
            margin-left: 22%;
            background-color: rgb(4, 4, 59);
            color: ghostwhite;
            border: none;
            font-size: 15px;
        }
        .b1:hover {
            color: ghostwhite;
            background-color: black ;
            border: none;
            border-radius: 10px;
        }
        .footer {
        display: block;
        background-color:rgb(4, 4, 59) ;
        height: 40em;
        margin-top: 50px;
        }
        .foot1 {
        display: flex;
        justify-content: center;
        padding-top: 100px;
        color: ghostwhite;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.3em;
        }
        .logotxt2 {
        text-align: center;
        margin-top: -2px;
        color: ghostwhite;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .foot2 {
        display: block;
        margin-top: 20px;
        text-align: center;
        
        }
        .foot2 a {
        text-decoration: none;
        color: ghostwhite;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.5em;
        }
        .foot2 a:hover {
        color: red;
        }
        .foot3 {
        color: ghostwhite;
        text-align: center;
        margin-top: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.5em;
        }
        .foot4 {
            color: ghostwhite;
            margin-top: -50px;
            font-size: 1.5em;
            text-align: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        label {
        color: ghostwhite;
        font-size: 1.7em;
        
        }
       
        .form {
        margin-top: 20px;
        text-align: center;
        
        }
        .radio {
        color: ghostwhite;
        margin-top: 20px;
        font-size: 1.2em;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    }
    @media only screen and (max-width: 479px){
        .navbar {
            display: none;
        }
        
        .logo {
        display: flex;
        justify-content: flex-start;
         background-color: black;
         height: 15em;
         font-size: 0.7em;
         padding-left: 15px;
         padding-top: 55px;
         
        
        }
        .mainbody {
            overflow: hidden;
            align-items: center;
           }
        .logo a {
        text-decoration: none;
        color: ghostwhite;
        margin-top: 5px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .logotxt {
        color: white;
        padding-top: 28px;
        font-size: 1.4em;
        margin-left: -88px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        
        .add {
            width: 100px;
            height: 70px;
            color: white;
            visibility: visible;
        }
        .box {
            width: 100px;
            height: 50px;
            color:#612717 ;
            float: left;
            margin-top: -110px;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            color: white;
            background-color: ghostwhite;
            z-index: 1;
            width: 26.5em;
            height: 15em;
            margin-left: -350px;
            border-radius: 10px;
        
          
        
        }
        .dropdown {
            position: relative;
            display: inline-block;
            padding-left: 350px;
        
        
            
            
        }
        .dropdown:hover  .dropdown-content {
            display: block;
            color: aliceblue;
        }
        ul a:hover {
            color:mediumspringgreen;
        }
        ul a {
            display: block;
            color: black;
            padding-top: 30px;
            padding-left: 40px;
            text-decoration: none;
            font-family: georgia;
            font-size: 1.2em;
        }
        .video {
            position: relative;
            margin-top: -100px;
        }
        .svg {
            display: flex;
            gap: 15px;
            padding: 20px;
        }
        .number {
            font-size: 1.3em;
            margin-top: -2px;
        }
        .box-container {
            display: block;
        }
        .box1{
            background-color:mediumaquamarine;
            height: 35em;
            width: 25em;
            position: sticky;
            margin-top: -180px;
            margin-left: 3%;
            
        }
        .box1img {
            background-image: url(tr11.jpg);
            background-position: center;
            background-size: cover;
            height: 18em;
            width: 23em;
            margin-left: 16px;
            margin-top: 15px;
        }
        .txt-container {
            margin-left: 12px;
            margin-top: 20px;
        }
        .line {
            height: 1px;
            margin-top: 20px;
            background-color: black;
            width: 24em;
            margin-left: -5px;
            
        }
        .line2 {
            height: 1px;
            margin-top: 30px;
            background-color: black;
            width: 25em;
            margin-left: 1px;
            
        }
        .box2 {
            display: block;
            margin-top: 100px;
        
        }
        .box-container2{
            background-color: rgb(245, 226, 226);
            margin-left: 3%;
            height: 33em;
            width: 25em;
            margin-top: 30px;
            
        }
        .box3 {
            background-image: url(trf4.jpg);
            background-position: center;
            background-size: cover;
            height: 25em;
            width: 25em;
        
            
        }
        .box4 {
            background-image: url(tr18.avif);
            background-position: center;
            background-size: cover;
            height: 25em;
            width: 25em;
            margin-top: 100px;
        
            
        }
        
        .box5 {
            background-image: url(tr2.jpg);
            background-position: center;
            background-size: cover;
            height: 25em;
            width: 25em;
            margin-top: 100px;
        
            
        }
        .box-container3{
            background-color: rgb(245, 226, 226);
            height: 33em;
            width: 25em;
            margin-left: 0%;
            
        }
        .box6{
            background-image: url(trf2.avif);
            background-position: center;
            background-size: cover;
            height: 25em;
            width: 25em;
            margin-top: 100px;
            
        
            
        }
        .box7{
            background-image: url(tr16.webp);
            background-position: center;
            background-size: cover;
            height: 25em;
            width: 25em;
            margin-top: 100px;
            
        
            
        }
        .box-container4 {
            display: block;
            background-color: rgb(4, 4, 59);
            height: 40em;
            margin-top: 1630px;
            padding-top: 20px;
        }
        .one {
            text-align: center;
            color: ghostwhite;
            font-size: 3em;
            margin-top: 29px;
        }
        .two {
            text-align: center;
            color: ghostwhite;
            font-size: 2em;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            margin-top: 15px;
        }
        .box-container5 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-left: 3%;
            margin-top: 50px;
        }
        .five{
            background-image: url(tr8.jpg);
            background-position: center;
            background-size: cover;
            height: 13em;
            width: 12em;
        }
        .six{
            background-image: url(tr3.jpg);
            background-position: center;
            background-size: cover;
            height: 13em;
            width: 12em;
        }
        .seven{
            background-image: url(tr1.jpg);
            background-position: center;
            background-size: cover;
            height: 13em;
            width: 12em;
            margin-top: 15px;
        }
        .eight{
            background-image: url(tr7.webp);
            background-position: center;
            background-size: cover;
            height: 13em;
            width: 12em;
            margin-top: 15px;
        }
        .nine{
            background-image: url(tr10.jpg);
            background-position: center;
            background-size: cover;
            height: 13em;
            width: 12em;
            margin-top: 15px;
        }
        .ten{
            background-image: url(tr12.jpg);
            background-position: center;
            background-size: cover;
            height: 13em;
            width: 12em;
            margin-top: 15px;
        }
        .eleven{
            background-image: url(tr13.jpg);
            background-position: center;
            background-size: cover;
            height: 13em;
            width: 12em;
            margin-top: 15px;
        }
        .twelve{
            background-image: url(tr14.jpg);
            background-position: center;
            background-size: cover;
            height: 13em;
            width: 12em;
            margin-top: 15px;
        }
        .text1 {
            text-align: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            padding-top: 5px;
            font-size: 2em;
        }
        .txt2 {
            font-size: 1.2em;
            padding-left: 10px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            margin-top: -10px;
        }
        .txt22 {
            margin-left: 15px;
            margin-top: 20px;
        }
        .txt3 {
            font-size: 2em;
            margin-top: -2px;
        }
        .txt222 {
            font-size: 1.5em;
            padding-left: 10px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .txt4 {
            font-size: 1em;
            margin-top: 5px;
        }
        .txt5{
            font-size: 0.7em;
           }
        .b1 {
            margin-top: 30px;
            height: 2.5em;
            width: 15em;
            margin-left: 24%;
            background-color: rgb(4, 4, 59);
            color: ghostwhite;
            border: none;
        }
        .b1:hover {
            color: ghostwhite;
            background-color: black ;
            border: none;
            border-radius: 10px;
        }
        .footer {
        display: block;
        background-color:rgb(4, 4, 59) ;
        height: 35em;
        margin-top: 50px;
        }
        .foot1 {
        display: flex;
        justify-content: center;
        padding-top: 80px;
        color: ghostwhite;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.2em;
        }
        .logotxt2 {
        text-align: center;
        margin-top: -5px;
        color: ghostwhite;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1em;
        }
        .foot2 {
        display: block;
        margin-top: 20px;
        text-align: center;
        
        }
        .foot2 a {
        text-decoration: none;
        color: ghostwhite;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.2em;
        }
        .foot2 a:hover {
        color: red;
        }
        .foot3 {
        color: ghostwhite;
        text-align: center;
        margin-top: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.1em;
        }
        .foot4 {
            color: ghostwhite;
            margin-top: -50px;
            font-size: 1.5em;
            text-align: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        label {
        color: ghostwhite;
        
        }
        input [type="email"] {
        margin:20px;
        color: red;
        }
        .form {
        margin-top: 20px;
        text-align: center;
        
        }
        .radio {
        color: ghostwhite;
        margin-top: 20px;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    }
    @media only screen and (max-width: 375px){
        .navbar {
            display: none;
        }
        .mainbody {
            overflow: hidden;
            align-items: center;
           }
        .logo {
        display: flex;
        justify-content: flex-start;
         background-color: black;
         height: 15em;
         font-size: 0.6em;
         padding-left: 15px;
         padding-top: 45px;
         
        
        }
        .logo a {
        text-decoration: none;
        color: ghostwhite;
        margin-top: 5px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .logotxt {
        color: white;
        padding-top: 28px;
        font-size: 1.4em;
        margin-left: -88px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        
        .add {
            width: 100px;
            height: 70px;
            color: white;
            visibility: visible;
        }
        .box {
            width: 100px;
            height: 50px;
            color:#612717 ;
            float: left;
            margin-top: -95px;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            color: white;
            background-color: ghostwhite;
            z-index: 1;
            width: 23.5em;
            height: 15em;
            margin-left: -300px;
            border-radius: 10px;
        
          
        
        }
        .dropdown {
            position: relative;
            display: inline-block;
            padding-left: 300%;
        
        
            
            
        }
        .dropdown:hover  .dropdown-content {
            display: block;
            color: aliceblue;
        }
        ul a:hover {
            color:mediumspringgreen;
        }
        ul a {
            display: block;
            color: black;
            padding-top: 30px;
            padding-left: 40px;
            text-decoration: none;
            font-family: georgia;
            font-size: 1.2em;
        }
        .video {
            position: relative;
            margin-top: -100px;
        }
        .svg {
            display: flex;
            gap: 15px;
            padding: 20px;
        }
        .number {
            font-size: 1.3em;
            margin-top: -2px;
        }
        .box-container {
            display: block;
        }
        .box1{
            background-color:mediumaquamarine;
            height: 35em;
            width: 22em;
            position: sticky;
            margin-top: -150px;
            margin-left: 3%;
            
        }
        .box1img {
            background-image: url(tr11.jpg);
            background-position: center;
            background-size: cover;
            height: 18em;
            width: 20em;
            margin-left: 16px;
            margin-top: 15px;
        }
        .txt-container {
            margin-left: 12px;
            margin-top: 20px;
        }
        .line {
            height: 1px;
            margin-top: 20px;
            background-color: black;
            width: 21em;
            margin-left: -5px;
            
        }
        .line2 {
            height: 1px;
            margin-top: 30px;
            background-color: black;
            width: 22em;
            margin-left: 1px;
            
        }
        .box2 {
            display: block;
            margin-top: 100px;
        
        }
        .box-container2{
            background-color: rgb(245, 226, 226);
            margin-left: 12px;
            height: 33em;
            width: 22em;
            margin-top: 30px;
            
        }
        .box3 {
            background-image: url(trf4.jpg);
            background-position: center;
            background-size: cover;
            height: 25em;
            width: 22em;
        
            
        }
        .box4 {
            background-image: url(tr18.avif);
            background-position: center;
            background-size: cover;
            height: 25em;
            width: 22em;
            margin-top: 100px;
        
            
        }
        
        .box5 {
            background-image: url(tr2.jpg);
            background-position: center;
            background-size: cover;
            height: 25em;
            width: 22em;
            margin-top: 100px;
        
            
        }
        .box-container3{
            background-color: rgb(245, 226, 226);
            height: 33em;
            width: 22em;
            
        }
        .box6{
            background-image: url(trf2.avif);
            background-position: center;
            background-size: cover;
            height: 23em;
            width: 22em;
            margin-top: 100px;
            
        
            
        }
        .box7{
            background-image: url(tr16.webp);
            background-position: center;
            background-size: cover;
            height: 25em;
            width: 22em;
            margin-top: 100px;
            
        
            
        }
        .box-container4 {
            display: block;
            background-color: rgb(4, 4, 59);
            height: 35em;
            margin-top: 1630px;
            padding-top: 20px;
        }
        .one {
            text-align: center;
            color: ghostwhite;
            font-size: 2.5em;
            margin-top: 25px;
        }
        .two {
            text-align: center;
            color: ghostwhite;
            font-size: 1.5em;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            margin-top: 15px;
        }
        .box-container5 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-left: 4.5%;
            margin-top: 50px;
        }
        .five{
            background-image: url(tr8.jpg);
            background-position: center;
            background-size: cover;
            height: 11em;
            width: 10em;
        }
        .six{
            background-image: url(tr3.jpg);
            background-position: center;
            background-size: cover;
            height: 11em;
            width: 10em;
        }
        .seven{
            background-image: url(tr1.jpg);
            background-position: center;
            background-size: cover;
            height: 11em;
            width: 10em;
            margin-top: 20px;
        }
        .eight{
            background-image: url(tr7.webp);
            background-position: center;
            background-size: cover;
            height: 11em;
            width: 10em;
            margin-top: 20px;
        }
        .nine{
            background-image: url(tr10.jpg);
            background-position: center;
            background-size: cover;
            height: 11em;
            width: 10em;
            margin-top: 20px;
        }
        .ten{
            background-image: url(tr12.jpg);
            background-position: center;
            background-size: cover;
            height: 11em;
            width: 10em;
            margin-top: 20px;
        }
        .eleven{
            background-image: url(tr13.jpg);
            background-position: center;
            background-size: cover;
            height: 11em;
            width: 10em;
            margin-top: 20px;
        }
        .twelve{
            background-image: url(tr14.jpg);
            background-position: center;
            background-size: cover;
            height: 11em;
            width: 10em;
            margin-top: 20px;
        }
        .text1 {
            text-align: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            padding-top: 5px;
            font-size: 1.5em;
        }
        .txt2 {
            margin-top: -5px;
            font-size: 1.3em;
            padding-left: 10px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .txt22 {
            margin-left: 15px;
            margin-top: 20px;
        }
        .txt3 {
            font-size: 2em;
    
        }
        .txt222 {
            font-size: 1.5em;
            padding-left: 10px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .txt4 {
            font-size: 0.9em;
            margin-top: -1px;
        }
        .txt5{
            font-size: 0.7em;
           }
        .b1 {
            margin-top: 30px;
            height: 2.5em;
            width: 12em;
            margin-left: 27%;
            background-color: rgb(4, 4, 59);
            color: ghostwhite;
            border: none;
        }
        .b1:hover {
            color: ghostwhite;
            background-color: black ;
            border: none;
            border-radius: 10px;
        }
        .footer {
        display: block;
        background-color:rgb(4, 4, 59) ;
        height: 35em;
        margin-top: 50px;
        }
        .foot1 {
        display: flex;
        justify-content: center;
        padding-top: 80px;
        color: ghostwhite;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .logotxt2 {
        text-align: center;
        margin-top: -8px;
        color: ghostwhite;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .foot2 {
        display: block;
        margin-top: 20px;
        text-align: center;
        
        }
        .foot2 a {
        text-decoration: none;
        color: ghostwhite;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .foot2 a:hover {
        color: red;
        }
        .foot3 {
        color: ghostwhite;
        text-align: center;
        margin-top: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .foot4 {
            color: ghostwhite;
            margin-top: -20px;
            font-size: 1.5em;
            text-align: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        label {
        color: ghostwhite;
        
        }
        input [type="email"] {
        margin:20px;
        color: red;
        }
        .form {
        margin-top: 20px;
        text-align: center;
        
        }
        .radio {
        color: ghostwhite;
        margin-top: 20px;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    }
    
    
   @media only screen and (max-width: 320px){
    .logo {
        display: flex;
        justify-content: flex-start;
         background-color: black;
         height: 12em;
         font-size: 0.6em;
         padding-left: 15px;
         padding-top: 30px;
       }
       .mainbody {
        overflow: hidden;
       }
       .logo a {
        text-decoration: none;
        color: ghostwhite;
        margin-top: 5px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       }
       .logotxt {
        color: white;
        padding-top: 28px;
        font-size: 1.4em;
        margin-left: -88px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       }
    
        .add {
            width: 100px;
            height: 70px;
            color: white;
            visibility: visible;
        }
        .box {
            width: 100px;
            height: 50px;
            color:#612717 ;
            float: left;
            align-items: center;
            margin-top: -80px;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            color: white;
            background-color: ghostwhite;
            z-index: 1;
            width: 20em;
            height: 15em;
            margin-left: -251px;
            border-radius: 10px;
            
        
          
        
        }
        .dropdown {
            position: relative;
            display: inline-block;
            padding-left: 250px;
        
    
            
            
        }
        .dropdown:hover  .dropdown-content {
            display: block;
            color: aliceblue;
        }
        ul a:hover {
            color:mediumspringgreen;
        }
        ul a {
            display: block;
            color: black;
            padding-top: 30px;
            padding-left: 40px;
            text-decoration: none;
            font-family: georgia;
            font-size: 1.2em;
        }
        .video {
            position: relative;
            margin-top: -100px;
        }
        .svg {
            display: flex;
            gap: 15px;
            padding: 15px;
        }
        .number {
            font-size: 1.3em;
        }
        .box-container {
            display: block;
            
        }
        .box1{
            background-color:mediumaquamarine;
            height: 32em;
            width: 18em;
            position: sticky;
            margin-top: -150px;
            margin-left: 5%;
    
            
            
        }
        .box1img {
            background-image: url(tr11.jpg);
            background-position: center;
            background-size: cover;
            height: 15em;
            width: 16em;
            margin-left: 16px;
            margin-top: 15px;
        }
        .txt-container {
            margin-left: 12px;
            margin-top: 20px;
            
        }
        .line {
            height: 1px;
            margin-top: 20px;
            background-color: black;
            width: 16em;
            margin-left: 5px;
            
        }
        .line2 {
            height: 1px;
            margin-top: 20px;
            background-color: black;
            width: 18em;
            margin-left: 1px;
            
        }
        .box2 {
            display: block;
            margin-top: 100px;

            
        
        }
        .box-container2{
            background-color: rgb(245, 226, 226);
            margin-left: 5%;
            height: 27em;
            width: 18em;
            margin-top: 30px;
        
            
        }
        .box3 {
            background-image: url(trf4.jpg);
            background-position: center;
            background-size: cover;
            height: 20em;
            width: 18em;
    
            
        }
        .box4 {
            background-image: url(tr18.avif);
            background-position: center;
            background-size: cover;
            height: 20em;
            width: 18em;
            margin-top: 100px;
    
            
        }
    
        .box5 {
            background-image: url(tr2.jpg);
            background-position: center;
            background-size: cover;
            height: 20em;
            width: 18em;
            margin-top: 100px;
    
            
        }
        .box-container3{
            background-color: rgb(245, 226, 226);
            height: 27em;
            width: 18em;
            
            
        }
        .box6{
            background-image: url(trf2.avif);
            background-position: center;
            background-size: cover;
            height: 18em;
            width: 18em;
            margin-top: 100px;
            
    
            
        }
        .box7{
            background-image: url(tr16.webp);
            background-position: center;
            background-size: cover;
            height: 20em;
            width: 18em;
            margin-top: 100px;
            
    
            
        }
        .box-container4 {
            display: block;
            background-color: rgb(4, 4, 59);
            height: 30em;
            margin-top: 1430px;
            padding-top: 20px;
            
        }
        .one {
            text-align: center;
            color: ghostwhite;
            font-size: 2em;
            margin-top: 25px;
        }
        .two {
            text-align: center;
            color: ghostwhite;
            font-size: 1.2em;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            margin-top: 15px;
        }
        .box-container5 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-left: 3%;
            margin-top: 50px;
            
        }
        .five{
            background-image: url(tr8.jpg);
            background-position: center;
            background-size: cover;
            height: 10em;
            width: 9em;
        }
        .six{
            background-image: url(tr3.jpg);
            background-position: center;
            background-size: cover;
            height: 10em;
            width: 9em;
        }
        .seven{
            background-image: url(tr1.jpg);
            background-position: center;
            background-size: cover;
            height: 10em;
            width: 9em;
            margin-top: 10px;
        }
        .eight{
            background-image: url(tr7.webp);
            background-position: center;
            background-size: cover;
            height: 10em;
            width: 9em;
            margin-top: 10px;
        }
        .nine{
            background-image: url(tr10.jpg);
            background-position: center;
            background-size: cover;
            height: 10em;
            width: 9em;
            margin-top: 10px;
        }
        .ten{
            background-image: url(tr12.jpg);
            background-position: center;
            background-size: cover;
            height: 10em;
            width: 9em;
            margin-top: 10px;
        }
        .eleven{
            background-image: url(tr13.jpg);
            background-position: center;
            background-size: cover;
            height: 10em;
            width: 9em;
            margin-top: 10px;
        }
        .twelve{
            background-image: url(tr14.jpg);
            background-position: center;
            background-size: cover;
            height: 10em;
            width: 9em;
            margin-top: 10px;
        }
        .text1 {
            text-align: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            padding-top: 5px;
            font-size: 1.5em;
        }
        .txt2 {
            margin-top: -10px;
            font-size: 1.1em;
            padding-left: 10px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .txt22 {
            margin-left: 15px;
            margin-top: 20px;
        }
        .txt3 {
            font-size: 1.5em;
            margin-top: 5px;
        }
        .txt222 {
            font-size: 1.2em;
            padding-left: 10px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .txt4 {
            font-size: 0.9em;
            margin-top: 1px;
        }
       .txt5{
        font-size: 0.7em;
       }
        .b1 {
            margin-top: 30px;
            height: 2.5em;
            width: 10em;
            margin-left: 100px;
            background-color: rgb(4, 4, 59);
            color: ghostwhite;
            border: none;
        }
        .b1:hover {
            color: ghostwhite;
            background-color: black ;
            border: none;
            border-radius: 10px;
        }
    .footer {
        display: block;
        background-color:rgb(4, 4, 59) ;
        height: 30em;
        margin-top: 50px;
        
    }
    .foot1 {
        display: flex;
        justify-content: center;
        padding-top: 30px;
        color: ghostwhite;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .logotxt2 {
        text-align: center;
        margin-top: -8px;
        color: ghostwhite;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .foot2 {
        display: block;
        margin-top: 20px;
        text-align: center;
    
    }
    .foot2 a {
        text-decoration: none;
        color: ghostwhite;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .foot2 a:hover {
        color: red;
    }
    .foot3 {
        color: ghostwhite;
        text-align: center;
        margin-top: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .foot4 {
        color: ghostwhite;
        margin-top: -20px;
        font-size: 1.5em;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    label {
        color: ghostwhite;
    
    }
   
    .form {
        margin-top: 20px;
        text-align: center;
        
    }
    .radio {
        color: ghostwhite;
        margin-top: 20px;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
   }
  

