
.card {
    height: 30em;
    margin-left: auto;
    margin-right: auto;
    margin-top: -300px;
    width: 70vw;
    background-color:cadetblue;

}
.mainnav {
    position: fixed;
    z-index: 100;
    width: 100vw;
}
h1 {
    color: black;
    padding-top: 15px;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
.navbar1{
    padding-left: 100px;
}

.text-one{
    padding-left: 47px;
}
 .logotxt{
    color:black;
    margin-top: -10px;
}

.form {
    padding-left: 50px;
}
.image-box{
    width: 34em;
    height: 30em;
   padding: 50px;
   margin-top: -45px;
}
.card-body{
    padding-left: 200px;
    padding-top: 100px;
}
.svg-container{
    background-color: yellow;
    width: 40px;
    padding: 2px;
    position: sticky;
    margin-left: 1310px;
    margin-top: -500px;
    position: fixed;
    
}

.svg {
    padding: 7px;
}

.box-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 30px;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    
}

.txt1 {
    margin-left: 95px;
    margin-top: 100px;
}
.txt2{
    font-size: 1.3em;
    margin-top: 20px;
}
.line {
    margin-top: 30px;
    height: 1px;
    width: 20em;
    background-color: black;
}
.boximg {
    background-image: url(tr13.jpg);
    height: 300px;
    width: 350px;
    background-position: center;
    background-size: cover;
}
.boximg1 {
    background-image: url(trf5.webp);
    height: 300px;
    width: 350px;
    background-position: center;
    background-size: cover;
    

}
.boximg2 {
    background-image: url(tr2.jpg);
    height: 300px;
    width: 350px;
    background-position: center;
    background-size: cover;
}
.boximg3 {
    background-image: url(trf4.jpg);
    height: 300px;
    width: 350px;
    background-position: center;
    background-size: cover;
}

.boximg4 {
    background-image: url(tr14.jpg);
    height: 300px;
    width: 350px;
    background-position: center;
    background-size: cover;
}

.box-container2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(66, 29, 2);
    height: 300px;
    gap: 50px;
    color: ghostwhite;
    margin-top: 100px;
}
.box5{
   display: flex;
   flex-direction: column;
   padding-top: 100px;
}
.text-two {
    text-align: center;
}
.box-container3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.one{
    background-image: url(tr3.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 300px;
}
.two{
    background-image: url(tr4.webp);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 300px; 
}
.three{
    background-image: url(tr8.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 300px;
}
.four {
    background-image: url(tr20.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-bottom: 10px;

}
.five{
    background-image: url(tr15.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 300px;
}
.six{
    background-image: url(tr17.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 300px;
}
.seven {
    background-image: url(tr18.avif);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 300px;
}
.eight {
    background-image: url(tr10.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 300px;
}
.b1 {
    margin-top: 50px;
    text-align: center;
    width: 250px;
    color: ghostwhite;
    height: 50px;
    margin-left: 550px;
    border: none;
    background-color: rgb(59, 27, 3);
}
.box-container4 {
    display: flex;
    gap: 150px;
    justify-content: center;
    background-color: palevioletred;
    margin-top: 100px;
    height: 400px;
    padding-top: 100px;
}

.svg2{
    display: flex;
    gap: 10px;

}
.box7{
    display: block;
    text-align: center;
}
.box7 a {
    text-decoration: none;
    color: white;
    text-align: center;
}
.footer-logo{
    color: ghostwhite;
}
.f{
    color: ghostwhite;
}
.f2{
    color: ghostwhite; 
    text-align: center;
}
.b2 {
    height: 30px;
    width: 150px;
    border: none;
    background-color: red;
    color: white;
}

@media only screen and (max-width: 479px){
    .card {
        height: 30em;
        margin-left: auto;
        margin-right: auto;
        margin-top: -50px;
        width: 70vw;
        background-color:cadetblue;
    }
    .image-box{
        width: 22em;
        height: 20em;
       margin-left: -32px;
       margin-top: -45px;
    }
    .card-body{
        padding-left: 20px;
        margin-top: -120px;
    }
    .box-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        margin-top: 30px;
        width: 85vw;
        margin-left: auto;
        margin-right: auto;
        
    }
    .box-container2{
        display: block;
        justify-content: center;
        background-color: rgb(66, 29, 2);
        height: 600px;
        gap: 10px;
        color: ghostwhite;
        margin-top: 100px;
    }
    .box5{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
     }
     .text-two {
         text-align: center;
     }
     .text-three {
        text-align: center;
    }
     .box-container3{
         display: grid;
         gap: 5px;
        grid-template-columns: repeat(2, 1fr); 
        width: 95vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }
    .one{
        background-image: url(tr3.jpg);
        background-position: center;
        background-size: cover;
        height: 200px;
        width: 200px;
    }
    .two{
        background-image: url(tr4.webp);
        background-position: center;
        background-size: cover;
        height: 200px;
        width: 200px; 
        margin-bottom: 3px;
    }
    .three{
        background-image: url(tr8.jpg);
        background-position: center;
        background-size: cover;
        height: 200px;
        width: 200px;
    }
    .four {
        background-image: url(tr20.jpg);
        background-position: center;
        background-size: cover;
        height: 200px;
        width: 200px;
        margin-bottom: 3px;
    

    
    }
    .five{
        background-image: url(tr15.jpg);
        background-position: center;
        background-size: cover;
        height: 200px;
        width: 200px;
    }
    .six{
        background-image: url(tr17.jpg);
        background-position: center;
        background-size: cover;
        height: 200px;
        width: 200px;
        margin-bottom: 3px;
    }
    .seven {
        background-image: url(tr18.avif);
        background-position: center;
        background-size: cover;
        height: 200px;
        width: 200px;
    }
    .eight {
        background-image: url(tr10.jpg);
        background-position: center;
        background-size: cover;
        height: 200px;
        width: 200px;
        margin-bottom: 3px;
    }
    .b1 {
        margin-top: 50px;
        text-align: center;
        width: 250px;
        color: ghostwhite;
        height: 50px;
        margin-left: 100px;
        border: none;
        background-color: rgb(59, 27, 3);
    }
    .box-container4 {
        display: block;
        gap: 150px;
        justify-content: center;
        background-color: palevioletred;
        margin-top: 100px;
        height: 600px;
        padding-top: 100px;
    }
    
}